.cart-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;

}
.cart-product {
  margin-block: 10px;
  border-radius: 20px;
  padding: 0.5rem;  
}
.cart-detail {
  padding-inline: 1rem;
}
.cart-total {
  color: white;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  padding-top: 1rem;
  padding-left: 1rem;
}
.cart-totals {
  border-left-color: #2c2c2c;
  border-left-width: 2px;
  margin-left: 10px;
}
.total-item,
.total-text {
  padding-inline: 1rem;
  padding-top: 1rem;
}
