.product {
  width: 350px;
  padding: 10px;
  border-radius: 10px;
  height: 400px;
}
.product-image {
  display: block;
  height: 200px;
  width: 200px;
}
.cart-button {
  border-radius: 10px;
  padding: 10px;
}
.category-btn {
  border-radius: 10px;
  border: 2px solid black;
   padding-block: 5px !important;
  cursor: pointer;
}
.category-btn:hover {
  border-color: #1e3932;
}
